// converting px to rem with default 1rem = 16px
@function pxToRem($pxsize, $rembase: 16) {
  @return ($pxsize / $rembase) + rem;
}

@mixin myFlex() {
  $prefixed: (-webkit-box, -ms-flexbox, -webkit-flex, flex);
  @each $prefix in $prefixed {
    display: $prefix;
  }
}

@mixin arrangeContent($alignItems: false, $justifyContent: false) {
  @if $alignItems {
    -webkit-box-align: $alignItems;
    -ms-flex-align: $alignItems;
    align-items: $alignItems;
  }
  @if $justifyContent {
    -webkit-box-pack: $justifyContent;
    -ms-flex-pack: $justifyContent;
    justify-content: $justifyContent;
  }
}

@mixin createCol() {
  @each $size in $sizes {
    $index: index($sizes, $size);
    .col-#{$index} {
      width: $size;
    }
  }
}
