$c-black: #000000;
$c-white: #ffffff;
$c-white-opacity: rgba(255, 255, 255, 0.33);
$c-alto: #d6d5d5;
$c-gray: #808080;
$c-gold-sand: #e8c08d;

$f-fontAwesome: "Font Awesome 5 Free";
$f-fontAwesomeBrands: "Font Awesome 5 Brands";
$f-baseFontFamily: "Roboto", sans-serif;

$break-xs: 300px;
$break-mobile: 800px;
$break-mid: 991px;
$break-laptop: 1299px;
$break-high: 1600px;

$tablet-min: 768px;
$tesktop-min: 1200px;

$wrapper: 1302px;
$wrapper-high: 1200px;
$wrapper-laptop: 990px;
$wrapper-mid: 800px;
$wrapper-mobile: 480px;
$columns: 12;
$padding: 15px;
$grind-md: 768px;
$grind-lg: 992px;
$grid-xl: 1199px;

$space-xx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xx-large: 60px;

$button-small: 175px;
$button-medium: 294px;
$button-large: 375px;

$sizes: 8.3333%, 16.6666%, 25%, 33.3333%, 41.6666%, 50%, 58.3333%, 66.6666%, 75%,
  83.3333%, 91.6666%, 100%;

$elements:
"red" red 20px orange,
"orange" orange 25px blue,
"blue" blue 30px red;

@each $name,$color,$fontSize,$backgroundColor in $elements{
  .test-#{$name} {
    color: $color;
    font-size: $fontSize;
    background-color: $backgroundColor;
    text-align: center;
  }
}