.main-description-wrapper {
  width: 90%;
  height: 500px;
  position: relative;
}

.description {
  &__image-wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 200px;
    width: 340px;
    height: 480px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__welcome {
    position: absolute;
    top: calc(calc(100% - 200px) / 2);
    right: 150px;
    width: 50%;
    height: 250px;
    min-width: 500px;
    background-color: $c-white-opacity;
    -webkit-box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
    box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
    border-radius: $space-x-small;
  }

  &__p1 {
    margin: $space-x-small 0 0 0;
    font-weight: 700;
    font-size: pxToRem($space-medium);
    color: $c-black;
  }

  &__p2 {
    margin: 0;
    font-weight: 700;
    font-size: pxToRem($space-medium);
    color: $c-gold-sand;
  }

  &__p3 {
    font-size: pxToRem($space-standard);
    color: $c-black;
  }

  &__welcome2 {
    position: absolute;
    right: 150px;
    top: calc(calc(100% - 200px) / 2 + 250px);
    min-width: 400px;
    width: 40%;
    height: 100px;

    p {
      margin: $space-xx-small $space-standard;
      padding: $space-xx-small auto;
      font-size: pxToRem($space-small);
      text-align: right;
      vertical-align: middle;
    }
  }

  &__hire,
  &__download {
    @include myFlex();
    @include arrangeContent(center);
    background-image: url(../../../../assets/_elementy_gradient_menu.jpg);
    margin: 0 $space-x-small;
    float: right;
    width: 140px;
    height: $space-large;
    border-radius: $space-small;

    p {
      font-weight: 900;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__button {
    color: $c-white;
    text-decoration: none;
  }
}

.main-about-me-wrapper {
  margin-left: $space-x-large;
  width: 35%;
  min-width: 400px;
  height: 450px;

  ul li p {
    font-weight: 100;
    font-size: pxToRem($space-standard);
    margin: $space-xx-small auto;
  }
}

.about-me__finished-course {
  width: 400px;
  height: $space-xx-large;
  font-size: pxToRem($space-standard);
}

.main-skills-wrapper {
  margin-top: $space-small;
  width: 33%;
  height: 450px;
  -webkit-box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
  box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
  border-radius: $space-x-small;

  p:first-of-type {
    margin-left: $space-standard;
  }
}

.skills-list {
  margin-right: $space-x-large;
  list-style-type: none;

  li {
    background-image: url(../../../../assets/_elementy_gradient_menu.jpg);
    color: $c-white;
    margin: $space-small 0;
    height: $space-large;
    padding-right: $space-small;
    border-radius: 7px;
    text-align: right;
    vertical-align: middle;
  }
}

li.skills-list {
  &__element1 {
    width: 70%;
  }

  &__element2 {
    width: 60%;
  }

  &__element3 {
    width: 70%;
  }

  &__element4 {
    width: 50%;
  }

  &__element5 {
    width: 90%;
  }

  &__element6 {
    width: 80%;
  }
}

@media only screen and (max-width: $break-xs) {
  .description {
    &__welcome {
      height: auto;
    }

    &__image-wrapper {
      position: relative;
      margin: 0 auto;
      left: auto;
      width: 250px;
      height: 360px;
    }

    &__hire {
      width: 100px;
    }

    &__download {
      width: 100px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .main-description-wrapper {
    height: auto;
  }

  .description {
    &__image-wrapper {
      position: relative;
      margin: 0 auto;
      left: auto;
      width: 300px;
      height: 420px;
    }

    &__welcome {
      position: relative;
      margin: 0 auto;
      top: auto;
      right: auto;
      display: block;
      min-width: 0;
      width: 100%;
    }

    &__welcome2 {
      position: relative;
      margin: 0 auto;
      top: auto;
      right: auto;
      display: block;
      min-width: 0;
      width: 100%;

      .description__p4 {
        font-size: pxToRem($space-small);
      }
    }
  }

  .main-about-me-wrapper {
    margin: 0 auto;
    width: 80%;
    height: auto;
    min-width: 0;
  }

  .main-skills-wrapper {
    width: 80%;
  }

  .about-me__finished-course {
    width: 100%;
  }
}
