.main-contact {
  &-wrapper {
    background-image: url(../../../../assets/tło_gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: $space-x-large;
    padding-top: $space-medium;
    width: 100%;
    height: auto;
  }

  &-container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  &__message {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;

    .description__p3 {
      width: 70%;
    }
  }

  &__info {
    position: relative;
    display: inline-block;
    float: right;
    width: 50%;
    height: 100%;
  }
}

div.form {
  &__input {
    margin: $space-standard 0;
    width: 70%;
    height: 35px;

    input {
      padding-left: $space-x-small;
      border: none;
      border-radius: $space-xx-small;
      -webkit-box-shadow: $space-xx-small $space-xx-small $space-xx-small
        $c-gray;
      box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
      width: 100%;
      height: 100%;
      font-size: pxToRem(25);
    }

    input:focus {
      outline: none;
    }

    textarea {
      resize: none;
      width: 100%;
      height: 150px;
      padding-left: $space-x-small;
      border-radius: $space-xx-small;
      border: none;
      font-size: pxToRem(25);
      -webkit-box-shadow: $space-xx-small $space-xx-small $space-xx-small
        $c-gray;
      box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
    }

    textarea:focus {
      outline: none;
    }
  }

  &__input:last-child {
    background-image: url(../../../../assets/_elementy_gradient_menu.jpg);
    height: 45px;
    margin-top: 55px;
    width: 25%;
    float: right;

    input {
      font-size: pxToRem(18);
      color: $c-white;
      background: none;
    }

    input:hover {
      cursor: pointer;
    }
  }
}

.contact__info {
  &--data {
    position: absolute;
    top: 15%;
    left: -$space-x-large;
    /* margin: auto; */
    width: 250px;
    height: 90px;
    background-color: $c-white-opacity;
    border-radius: $space-xx-small;
    -webkit-box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
    box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;

    p {
      padding-left: 35px;
      color: $c-black;
    }
  }

  &--caption {
    margin: 70px auto;
    width: 400px;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
    }

    p {
      font-size: pxToRem($space-small);
      text-align: right;
      color: $c-black;
    }
  }
}

@media only screen and (max-width: $break-xs) {
  div.form {
    &__input {
      height: auto;
      width: auto;
      margin-bottom: 0;
    }

    &__input:last-child {
      width: 50%;
      margin: 0 auto;
    }
  }

  .main-contact {
    &__info {
      margin-top: $space-medium;
    }

    &__message {
      height: auto;
    }
  }

  .contact__info {
    &--data {
      left: 40%;
    }

    &--caption img {
      margin-left: 100px;
    }
    &--caption {
      width: 280px;
      height: 300px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .main-contact {
    &__message {
      margin: 0 auto;
      display: block;
      width: 80%;
      height: 40%;
      float: none;
    }

    &__info {
      display: block;
      width: 400px;
      height: 40%;
    }
  }

  .contact__info {
    &--data {
      position: absolute;
      top: 60px;
      left: 20%;
    }

    &--caption {
      width: 100%;

      img {
        display: block;
        margin-left: $space-x-large;
        width: 90%;
      }
    }
  }
}
