.main-nav {
  &-wrapper {
    @include myFlex();
    @include arrangeContent(center, right);
    width: 100%;
    height: 100px;
    background-color: $c-alto;
  }

  &__bar {
    @include myFlex();
    @include arrangeContent(center);
    width: 50%;
    height: 60%;
    min-width: 400px;
    padding: 0 $space-standard;
    margin-left: auto;
    margin-right: 8%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: $space-x-small;
    background-image: url(../../../../assets/_elementy_gradient_menu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
    box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
  }
}

.nav-bar__element {
  margin: 0 auto;

  a {
    color: $c-white;
    text-decoration: none;
  }
}

@media only screen and (max-width: $break-xs) {
  .nav-bar__element {
    font-size: pxToRem(12);
  }
}

@media only screen and (max-width: $break-mobile) {
  .main-nav {
    &-wrapper {
      @include arrangeContent(false, center);
    }

    &__bar {
      width: 90%;
      min-width: 0;
      margin: auto;
    }
  }
}
