.main-porftolio-wrapper {
  margin-top: $space-x-large;
  width: 80%;

  p {
    margin-left: $space-x-large;
  }
}

.portfolio {
  &-case-wrapper {
    @include myFlex();
    @include arrangeContent(false, space-evenly);
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
  }

  &__case {
    width: 450px;
    height: 350px;
    margin: $space-medium auto;

    border-radius: $space-x-small;
    -webkit-box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;
    box-shadow: $space-xx-small $space-xx-small $space-xx-small $c-gray;

    img {
      width: 90%;
      height: 80%;
      margin: $space-small auto 0;
      display: block;
    }
  }

  &__button {
    margin: 0 $space-x-small 0 auto;
    width: $space-xx-large;
    height: $space-xx-large;
    float: right;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    img:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $break-xs) {
  .portfolio__case {
    height: 270px;

    img {
      height: 200px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .portfolio__case {
    height: 330px;
  }
}
