@include createCol();

.main-wrapper {
  @include myFlex();
  @include arrangeContent(false, center);
  width: nth($sizes, 12);
  height: 100%;
  min-width: 500px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#circle1 {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 600px;
  height: 600px;
}

#circle2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
}

#circle3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: $break-mobile) {
  .main-wrapper {
    @include arrangeContent(false, center);
    min-width: 0;
    width: 100%;
    margin: 0 auto;
  }

  #circle1 {
    width: 300px;
    height: 300px;
  }

  #circle2 {
    width: 300px;
    height: 300px;
  }

  #circle3 {
    top: 0;
    left: 0;
    width: 330px;
    height: 330px;
  }
}

@media only screen and (max-width: $break-xs) {
  #circle3 {
    width: 200px;
    height: 200px;
  }
}
